body {
  margin: 0; 
  font-family: arial;
  background-color: #121111;
}
.title {
  color: #f1f1f1;
  font-size: 2em;
  text-align: center;
}
.result {
  color: #f1f1f1;
  font-size: 1em;
  text-align: center;
}
.center {
  margin: auto;
  width: 60%;
  border: 3px solid #73AD21;
  padding: 10px;
  text-align: center;
}
.generate-idea {
  font-size: 15px;
  padding: 6px;
  border-radius: 10px;
  border: none;
  font-weight: bold;
}
.crazy-meter {
  font-size: 15px;
  padding: 6px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
}